body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 1em;
}

h1, h2 {
    color: #f4d03f;
}


#descripcion, #imagenes, #actividades, #precio, #reserva {
    margin: 2em;
    padding: 1em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#imagenes img {
    width: 300px;
    height: auto;
    margin-right: 10px;
    border-radius: 8px;
}

ul {
    list-style-type: square;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

label {
    margin: 0.5em 0 0.2em;
}

input[type="text"], input[type="email"] {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 0.7em;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3498db;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #34495e;
    color: white;
    position: fixed;
    width: 30%;
    bottom: 0;
}
